html, body {
    max-width: 100%;
    overflow-x: hidden;
    /*border-bottom: 10px solid black;*/
}

body{
	margin: 0em	0em 0em 1em;
}

#mapper{
	position: absolute;
	width: 740px;
	right: 5%;
}

#submit{
	display: block;
}

#text_field{
	width: 101%;
	height: 190px;
	display: inline-block;
	border-radius: 5px 20px;
	resize: none;
}

#textCanvas{
	width: 100%;
	height: 350px;
	border-top: 4px solid black;
	border-right: 8px solid black;
	border-bottom: 0px solid black;
	border-left: 8px solid black;
	border-radius: 25px 40px 60px 50px;
}

#cuber{
	position: fixed;
	left: 1.5em;
	width: 400px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none; 
	
}

#phoCubes{
	position: relative;	
	height: 300px;
	width: 400px;
	top: -16em;
	border-top: 5px solid black;
	border-right: 1px solid black;
	border-bottom: 3px solid black;
	border-left: 2px solid black;
	border-radius: 25px 100px;
	
}

#keyCanvas{
	position: relative;
	height: 280px;
	width: 370px;
	top: -1em;
	right: 1em;
	border-top: 1px solid black;
	border-right: 15px solid black;
	border-bottom: 0px solid black;
	border-left: 2px solid black;
	border-radius: 80px 50px;
	
}

#color{
	position: relative;
	bottom: 252px;
	left: 356px;
	background-color: #655555;
	width: 13px;
	height: 150px;
	border: 1px solid white;
}

#colorWheel{
	position: relative;
	height: 100px;
	width: 100px;
	top: -254px;
	left: 334px;
}

/*#cubeCanvLeft{
	position: relative;
	top: -300px;
	height: 300px;
	border-left: solid black 7px;
	border-bottom-left-radius: 100px;
	margin: 0px;
}

#cubeCanvBottom{
	position: relative;
	top: -602px;
	height: 300px;
	width: 280px;
	border-bottom: solid black 2px;
	border-bottom-left-radius: 100px;
	margin: 0px;
}

#cubeMark{
	position: relative;
	height: 200px;
	width: 200px;
	right: -281px;
	top: -606px;
	border-top: solid black 2px;
	border-right: solid black 1px;
	border-top-right-radius: 200px;
	-ms-transform: rotate(-1deg); 
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    margin: 0px;
}*/


