	/*Disable the blue box in chrome*/
*:focus{
	outline: 0;
}

@font-face{
	font-family: lovelo;
	src: url("/fonts/Lovelo Black.otf");
}
@font-face{
	font-family: loveloLight;
	src: url("/fonts/Lovelo Line Light.otf");
}
@font-face{
	font-family: roboto;
	src: url("/fonts/Roboto-LightItalic.ttf");
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
	margin: 0em;
}
canvas{
	display: inline-block;
}
.row{
	display: block;
}
.column{
	padding: 3vh 2.5vw 1vh 2.5vw;
}
.container{
	display: inline-block;
}
.hidden{
	display: none;
	visibility: none;
}

#submit{
	display: block;
}

#text_field{
	width: 98%;
	height: 25vh;
	-webkit-border-radius: .5em 1.6em;
	-moz-border-radius: .5em 1.6em;
	border-radius: .5em 1.6em;
	resize: none;
	margin: 0px auto;
}

#textCanvas{
	width: 97.5%;
	height: 60vh;
	border-top: 4px solid black;
	border-right: 8px solid black;
	border-bottom: 0px solid black;
	border-left: 8px solid black;
	-webkit-border-radius: 25px 40px 60px 50px;
	-moz-border-radius: 25px 40px 60px 50px;
	border-radius: 25px 40px 60px 50px;
	margin: 0px auto;
}

h1{
	margin: 0px 0px 0px;
	display: block;
	font-size: 6.5vh;
	font-family: lovelo;
}

#grayTitle{
	font-family: loveloLight;
}

#cuber{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none; 
}

button{
	color: #fffffe;
	font-family: roboto;
	font-size: .75em;
	border: 1px solid black;
	border-bottom: 0px solid black;

	-webkit-border-radius: 8px 10px 2px 8px;
	-moz-border-radius: 8px 10px 2px 8px;
	border-radius: 8px 10px 2px 8px;

	background-color: black;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none; 

	margin: 0px;
}

#buttons{
	position: relative;
	right: 15%;
	text-align: right;
}



#keyCanvas{
	width: 85%;
	border-top: 1px solid black;
	border-right: 15px solid black;
	border-bottom: 0px solid black;
	border-left: 2px solid black;
	-webkit-border-radius: 10px 50px 80px 50px;
	-moz-border-radius: 10px 50px 80px 50px;
	border-radius: 10px 50px 80px 50px;	
} #keyCanvas:hover{
	cursor: pointer;
}

#color{
	position: absolute;
	background-color: #655555;
	width: 13px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


#cubeCanvas{
	border-top: 5px solid black;
	border-right: 1px solid black;
	border-bottom: 3px solid black;
	border-left: 2px solid black;
	-khtml-border-radius: 25px 100px 25px 100px;
	-webkit-border-radius: 25px 100px 25px 100px;
	-moz-border-radius: 25px 100px 25px 100px;
	border-radius: 25px 100px 25px 100px;
	overflow: hidden;
} #cubeCanvas:hover{
	cursor: move;
}


/*#sidebar{
	position: fixed;
	right: -7em;
	top: 11em;
	-ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#sidebar button{
	font-size: 1.5em;
}*/

@media (max-width: 900px) {
	.col-sm-12{
		display: block;
		text-align: center;
		width: 78vw;
		margin: auto;
	}
	h1{
		font-size: 2rem;
	}
}
@media (min-width: 900px) and (max-width: 1200px) {
	.col-md-12{
		display: block;
		text-align: center;
		width: 80vw;
		margin: auto;
	}
	.col-md-6{
		display: inline-block;
		width: 40vw;
		text-align: center;
		margin: auto;
	}
		canvas#keyCanvas{
			width: 40%;
	} 
		canvas#cubeCanvas{
			width: 42.5%;
	}
}
@media (min-width: 1200px) {
	.col-lg-8{	
		float: right;
		width: 60vw;
	}
	.col-lg-4{
		position: fixed;
		display: inline-block;
		width: 33vw;
	}
}

/* Rules for Firefox */
@-moz-document url-prefix() {
    #buttons{
    	height: 17px;
    }
}



